In [3]:
# First import the libraries that we need to use
import pandas as pd
import requests
import json
from datetime import datetime

In [5]:
bc = pd.read_csv('C:/Users/falda/Downloads/BTC-USD.csv')
bc

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2566,2021-09-26,42721.628906,43919.300781,40848.460938,43208.539063,43208.539063,3.066122e+10
2567,2021-09-27,43234.183594,44313.246094,42190.632813,42235.730469,42235.730469,3.098003e+10
2568,2021-09-28,42200.898438,42775.144531,40931.664063,41034.542969,41034.542969,3.021494e+10
2569,2021-09-29,41064.984375,42545.257813,40829.667969,41564.363281,41564.363281,3.060236e+10
2570,2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bc.isnull().sum()

Date         0
Open         5
High         5
Low          5
Close        5
Adj Close    5
Volume       5
dtype: int64

In [17]:
bc1 = bc[bc.isna().any(axis=1)]
print(bc1)

            Date  Open  High  Low  Close  Adj Close  Volume
2039  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
2214  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
2217  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
2218  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN
2570  2021-09-30   NaN   NaN  NaN    NaN        NaN     NaN

In [14]:
bc2 = bc.dropna()

In [15]:
print(bc2)

            Date          Open          High           Low         Close  \
0     2014-09-17    465.864014    468.174011    452.421997    457.334015
1     2014-09-18    456.859985    456.859985    413.104004    424.440002
2     2014-09-19    424.102997    427.834991    384.532013    394.795990
3     2014-09-20    394.673004    423.295990    389.882996    408.903992
4     2014-09-21    408.084991    412.425995    393.181000    398.821014
...          ...           ...           ...           ...           ...
2565  2021-09-25  42840.890625  42996.257813  41759.921875  42716.593750
2566  2021-09-26  42721.628906  43919.300781  40848.460938  43208.539063
2567  2021-09-27  43234.183594  44313.246094  42190.632813  42235.730469
2568  2021-09-28  42200.898438  42775.144531  40931.664063  41034.542969
2569  2021-09-29  41064.984375  42545.257813  40829.667969  41564.363281

         Adj Close        Volume
0       457.334015  2.105680e+07
1       424.440002  3.448320e+07
2       394.795990  3.791970e+07
3       408.903992  3.686360e+07
4       398.821014  2.658010e+07
...            ...           ...
2565  42716.593750  3.160472e+10
2566  43208.539063  3.066122e+10
2567  42235.730469  3.098003e+10
2568  41034.542969  3.021494e+10
2569  41564.363281  3.060236e+10

[2566 rows x 7 columns]