In [1]:
Bin_API_KEY = 'Eg6e0ArdjDV1eCWEukGPAxdReyCE3zEvp232epOf170Ix1HbmiNrPmZrguCDGFhk'
Bin_Sec_KEY = 'xLgE123PKRtAWH1iFMU1tbfawjX8hoomCy1TuUzI3EMaFC229OZXLksgLBYj9SOX'

In [2]:
#!pip install python-binance

In [3]:
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
import pandas as pd

In [4]:
client = Client(Bin_API_KEY, Bin_Sec_KEY)

In [5]:
#  [
#   [
#     1499040000000,      // Open time
#     "0.01634790",       // Open
#     "0.80000000",       // High
#     "0.01575800",       // Low
#     "0.01577100",       // Close
#     "148976.11427815",  // Volume
#     1499644799999,      // Close time
#     "2434.19055334",    // Quote asset volume
#     308,                // Number of trades
#     "1756.87402397",    // Taker buy base asset volume
#     "28.46694368",      // Taker buy quote asset volume
#     "17928899.62484339" // Ignore.
#   ]
# ]

In [6]:
historical = client.get_historical_klines('BTCUSDT', Client.KLINE_INTERVAL_1DAY, '1 Jan 2011')

In [7]:
hist_df = pd.DataFrame(historical)

In [8]:
hist_df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 
                    'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'Ignore']

In [9]:
hist_df['Date'] = pd.to_datetime(hist_df['Date']/1000, unit='s')
hist_df['Close Time'] = pd.to_datetime(hist_df['Close Time']/1000, unit='s')

In [10]:
numeric_columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Quote Asset Volume', 'TB Base Volume', 'TB Quote Volume']

In [11]:
hist_df[numeric_columns] = hist_df[numeric_columns].apply(pd.to_numeric, axis=1)

In [12]:
hist_df

,Date,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,2017-08-17 23:59:59.999000064,3.454770e+06,3427,616.248541,2.678216e+06,8733.91139481
1,2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,2017-08-18 23:59:59.999000064,5.086958e+06,5233,972.868710,4.129123e+06,9384.14140858
2,2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,2017-08-19 23:59:59.999000064,1.549484e+06,2153,274.336042,1.118002e+06,9184.08552906
3,2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,2017-08-20 23:59:59.999000064,1.930364e+06,2321,376.795947,1.557401e+06,10125.41408414
4,2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,2017-08-21 23:59:59.999000064,2.797232e+06,3972,557.356107,2.255663e+06,11706.76997007
...,...,...,...,...,...,...,...,...,...,...,...,...
1584,2021-12-18,46133.83,47392.37,45500.00,46834.48,25020.052710,2021-12-18 23:59:59.999000064,1.165205e+09,862066,12635.547070,5.886495e+08,0
1585,2021-12-19,46834.47,48300.01,46406.91,46681.23,29305.706650,2021-12-19 23:59:59.999000064,1.384959e+09,874827,14646.778280,6.925598e+08,0
1586,2021-12-20,46681.24,47537.57,45558.85,46914.16,35848.506090,2021-12-20 23:59:59.999000064,1.663363e+09,1076488,17666.327490,8.198176e+08,0
1587,2021-12-21,46914.17,49328.96,46630.00,48889.88,37713.929240,2021-12-21 23:59:59.999000064,1.827234e+09,1119412,19356.270060,9.376484e+08,0
1588,2021-12-22,48887.59,49576.13,48421.87,48671.70,26945.342220,2021-12-22 23:59:59.999000064,1.319557e+09,947751,13371.604000,6.549627e+08,0